# TypeScript / Node.js
node_modules/
dist/
build/
.npm
*.log

# Java
target/
*.class
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db
/tools/license-generator
/tools/release/ERP License Generator-win32-x64
